﻿
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CaloFir</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/icon.ico">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!-- <link rel="stylesheet" href="~/assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.min.css"> -->
    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- <link rel="stylesheet" href="~/assets/css/style.min.css"> -->
</head>

<body>

    <div class="contact-wrapper">
        <header class="main-header-area">
            <!-- Main Header Area Start -->
            <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="index.html">
                                            <img class="img-full" src="~/assets/images/logo1.png" alt="Header Logo" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a class="active" href="index.html">
                                                    <span class="menu-text">Trang chủ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="menu-text">Các sản phẩm</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-submenu dropdown-hover">
                                                    <li>
                                                        <a href="shop.html">Cửa hàng nguyên liệu</a>
                                                    </li>
                                                    <li>
                                                        <a href="meal-planner.html">Lập kế hoạch ăn uống</a>
                                                    </li>
                                                    <li>
                                                        <a href="nutrition.html">Phân tích dinh dưỡng</a>
                                                    </li>
                                                    <li>
                                                        <a href="recipe.html">Công thức nấu ăn</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog-grid-fullwidth.html">
                                                    <span class="menu-text"> Blog</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="contact-us.html">
                                                    <span class="menu-text">Liên hệ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="partners.html">
                                                    <span class="menu-text">Đối tác</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="pricing.html">
                                                    <span class="menu-text">Giá cả</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="login.html">Đăng nhập</a></span>
                                                <span><a href="register.html">Đăng ký</a></span>
                                            </li>
                                            <li class="minicart-wrap">
                                                <a href="#" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    <span class="cart-item_count">3</span>
                                                </a>
                                                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                                    <div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="cart.html">
                                                                <img src="~/assets/images/ingredient/cai-bo-xoi.jpg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title">
                                                                <a href="cart.html">Cải bó xôi</a>
                                                            </h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>2×</span>
                                                                    <span class="cart-price">60,000 VNĐ</span>
                                                                </div>
                                                                <button type="button">
                                                                    <i class="ion-trash-b"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="cart.html">
                                                                <img src="~/assets/images/ingredient/viet-quat.jpg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title">
                                                                <a href="cart.html" title="Blueberry">Việt quất</a>
                                                            </h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>1×</span>
                                                                    <span class="cart-price">355,000 VNĐ</span>
                                                                </div>
                                                                <button type="button">
                                                                    <i class="ion-trash-b"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="cart.html">
                                                                <img src="~/assets/images/ingredient/hanh-nhan.jpg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title">
                                                                <a href="cart.html">Hạnh nhân</a>
                                                            </h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>1×</span>
                                                                    <span class="cart-price">350,000 VNĐ</span>
                                                                </div>
                                                                <button type="button">
                                                                    <i class="ion-trash-b"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-links d-flex justify-content-center">
                                                        <a class="obrien-button white-btn" href="cart.html">Giỏ hàng</a>
                                                        <a class="obrien-button white-btn" href="checkout.html">
                                                            Thanh
                                                            toán
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="index.html">
                                            <img class="img-full" src="~/assets/images/logo1.png" alt="Header Logo" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a class="active" href="index.html">
                                                    <span class="menu-text">Trang chủ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <span class="menu-text">Các sản phẩm</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-submenu dropdown-hover">
                                                    <li>
                                                        <a href="shop.html">Cửa hàng nguyên liệu</a>
                                                    </li>
                                                    <li>
                                                        <a href="meal-planner.html">Lập kế hoạch ăn uống</a>
                                                    </li>
                                                    <li>
                                                        <a href="nutrition.html">Phân tích dinh dưỡng</a>
                                                    </li>
                                                    <li>
                                                        <a href="test.html">Công thức nấu ăn</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog-details-fullwidth.html">
                                                    <span class="menu-text"> Blog</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="contact-us.html">
                                                    <span class="menu-text">Liên hệ</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="partners.html">
                                                    <span class="menu-text">Đối tác</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="pricing.html">
                                                    <span class="menu-text">Giá cả</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span><a href="login.html">Đăng nhập</a></span>
                                                <span><a href="register.html">Đăng ký</a></span>
                                            </li>
                                            <li class="minicart-wrap">
                                                <a href="#" class="minicart-btn toolbar-btn">
                                                    <i class="ion-bag"></i>
                                                    <span class="cart-item_count">3</span>
                                                </a>
                                                <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                                    <div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="cart.html">
                                                                <img src="~/assets/images/ingredient/cai-bo-xoi.jpg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title">
                                                                <a href="cart.html">Cải bó xôi</a>
                                                            </h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>2×</span>
                                                                    <span class="cart-price">60,000 VNĐ</span>
                                                                </div>
                                                                <button type="button">
                                                                    <i class="ion-trash-b"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="cart.html">
                                                                <img src="~/assets/images/ingredient/viet-quat.jpg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title">
                                                                <a href="cart.html" title="Blueberry">Việt quất</a>
                                                            </h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>1×</span>
                                                                    <span class="cart-price">355,000 VNĐ</span>
                                                                </div>
                                                                <button type="button">
                                                                    <i class="ion-trash-b"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-cart-item">
                                                        <div class="cart-img">
                                                            <a href="cart.html">
                                                                <img src="~/assets/images/ingredient/hanh-nhan.jpg"
                                                                     alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="cart-text">
                                                            <h5 class="title">
                                                                <a href="cart.html">Hạnh nhân</a>
                                                            </h5>
                                                            <div class="cart-text-btn">
                                                                <div class="cart-qty">
                                                                    <span>1×</span>
                                                                    <span class="cart-price">350,000 VNĐ</span>
                                                                </div>
                                                                <button type="button">
                                                                    <i class="ion-trash-b"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-links d-flex justify-content-center">
                                                        <a class="obrien-button white-btn" href="cart.html">Giỏ hàng</a>
                                                        <a class="obrien-button white-btn" href="checkout.html">
                                                            Thanh
                                                            toán
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <!-- mobile menu start -->
                    <div class="mobile-navigation">
                        <!-- mobile menu navigation start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children">
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a>Các sản phẩm</a>
                                    <ul class="dropdown">
                                        <li><a href="shop.html">Cửa hàng nguyên liệu</a></li>
                                        <li>
                                            <a href="meal-planner.html">Lập kế hoạch ăn uống</a>
                                        </li>
                                        <li>
                                            <a href="nutrition.html">Phân tích dinh dưỡng</a>
                                        </li>
                                        <li>
                                            <a href="recipe.html">Công thức nấu ăn</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="blog-grid-fullwidth.html">Blog</a></li>
                                <li><a href="contact-us.html">Liên hệ</a></li>
                                <li><a href="partners.html">Đối tác</a></li>
                                <li><a href="pricing.html">Giá cả</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu navigation end -->
                    </div>
                    <!-- mobile menu end -->
                    <div class="header-top-settings offcanvas-curreny-lang-support">
                        <!-- mobile menu navigation start -->
                        <nav>
                            <ul class="mobile-menu">
                                <li><a href="login.html">Đăng nhập</a></li>
                                <li><a href="Register.html">Đăng ký</a></li>
                            </ul>
                        </nav>
                        <!-- mobile menu navigation end -->
                    </div>
                    <!-- offcanvas widget area start -->
                    <div class="offcanvas-widget-area">
                        <div class="top-info-wrap text-left text-black">
                            <ul>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:0399092221">0399-092-221</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:nduyhieu210@gmail.com">nduyhieu210@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="off-canvas-widget-social">
                            <a title="Facebook" href="#"><i class="fa fa-facebook-f"></i></a>
                            <a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a title="LinkedIn" href="#"><i class="fa fa-linkedin"></i></a>
                            <a title="YouTube" href="#"><i class="fa fa-youtube"></i></a>
                            <a title="Vimeo" href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                    <!-- offcanvas widget area end -->
                </div>
    </div>
    </aside>
    <!-- off-canvas menu end -->
    </header>
    <!-- Header Area End Here -->
    <!-- Login Area Start Here -->
    <div class="login-register-area mt-no-text mb-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                    <div class="login-register-wrapper">
                        <div class="section-content text-center mb-5">
                            <h2 class="title-4 mb-2">Đăng nhập</h2>
                            <p class="desc-content">Vui lòng đăng nhập bằng tài khoản của bạn bên dưới.</p>
                        </div>
                        <form action="/Login" method="post">
                            <div class="single-input-item mb-3">
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="password" name="password" placeholder="Nhập mật khẩu">
                            </div>
                            <div class="single-input-item mb-3">
                                <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                    <div class="remember-meta mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="rememberMe">
                                            <label class="custom-control-label" for="rememberMe">Lưu mật khẩu</label>
                                        </div>
                                    </div>
                                    <a href="#" class="forget-pwd mb-3">Quên mật khẩu?</a>
                                </div>
                            </div>
                            <div class="single-input-item mb-3">
                                <button class="btn obrien-button-2 primary-color">Đăng nhập</button>
                            </div>
                            <div class="single-input-item">
                                <a href="register.html">Tạo tài khoản</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Area End Here -->
    <!-- Footer Area Start Here -->
    <footer class="footer-area">
        <div class="footer-widget-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <!-- First Column -->
                    <div class="col-12 col-md-4 col-lg-4 col-custom">
                        <div class="single-footer-widget m-0">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/assets/images/logo/logo.png" alt="Logo Image" />
                                </a>
                            </div>
                            <p class="desc-content">
                                Calofit - Web lên thực đơn bữa ăn dinh dưỡng
                            </p>
                            <div class="social-links">
                                <ul class="d-flex">
                                    <li>
                                        <a class="border rounded-circle" href="#" title="Facebook">
                                            <i class="fa fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border rounded-circle" href="#" title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border rounded-circle" href="#" title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border rounded-circle" href="#" title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border rounded-circle" href="#" title="Vimeo">
                                            <i class="fa fa-vimeo"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Second Column -->
                    <div class="col-12 col-md-4 col-lg-4 col-custom text-center d-flex align-items-center justify-content-center">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Link</h2>
                            <ul class="widget-list">
                                <li><a href="blog-grid-fullwidth.html">Blog</a></li>
                                <li><a href="recipe.html">Công thức nấu ăn</a></li>
                                <li><a href="partners.html">Đối tác</a></li>
                                <li><a href="pricing.html">Giá cả</a></li>
                                <li><a href="meal-planner.html">Lập kế hoạch </a></li>
                                <li><a href="contact-us.html">Liên hệ</a></li>
                                <li><a href="nutrition.html">Phân tích dinh dưỡng</a></li>
                                <li><a href="shop.html">Shop nguyên liệu</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Third Column -->
                    <div class="col-12 col-md-4 col-lg-4 col-custom d-flex align-items-center justify-content-center">
                        <div class="single-footer-widget">
                            <h2 class="widget-title">Thông tin thêm:</h2>
                            <div class="widget-body">
                                <address>
                                    Đại học FPT Hà Nội, Khu Công nghệ cao Hòa Lạc, Km29 Đại lộ Thăng Long, huyện Thạch
                                    Thất, Hà
                                    Nội<br />
                                    Phone: 0399-092-221<br />
                                    Email: nduyhieu210@gmail.com
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container custom-area">
                <div class="row">
                    <div class="col-12 text-center col-custom">
                        <div class="copyright-content">
                            <p>
                                Copyright © 2024 | Built by&nbsp;<strong>CaloFit</strong>&nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End Here -->
    </div>

    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="~/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>