@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Calofit</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/icon.ico" />

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/assets/css/vendor/font.awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/assets/css/vendor/ionicons.min.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/slick.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css" />
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.min.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css" />

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <link rel="stylesheet" href="~/assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.min.css" />

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- <link rel="stylesheet" href="~/assets/css/style.min.css"> -->
</head>

<body>
    
    <!-- Header Area End Here -->
    <section class="pricing-area">
        <div class="header">Người đăng ký</div>
        <div class="container">
            <div class="row">
                <div class="pricing-boxes">
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box hover-highlight">
                        <h3 class="pricing-title">Free</h3>
                        <div class="pricing-price">Miễn phí</div>
                        <ul class="pricing-list">
                            <li>Các chức năng cơ bản </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box hover-highlight">
                        <h3 class="pricing-title">Standard</h3>
                        <div class="pricing-price">18,000 VNĐ<span>/tháng</span></div>
                        <ul class="pricing-list">
                            <li>Không quảng cáo</li>
                            <li>Lên thực đơn theo tuần</li>
                        </ul>
                        <a href="#" class="pricing-btn text-uppercase">Mua</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box hover-highlight">
                        <h3 class="pricing-title ">Premium</h3>
                        <div class="pricing-price">36,000 VNĐ<span>/tháng</span></div>
                        <ul class="pricing-list">
                            <li>Gợi ý món ăn theo mùa</li>
                            <li>Đề xuất món ăn dựa theo nguyên liệu đang có</li>
                        </ul>
                        <a href="#" class="pricing-btn text-uppercase">Mua</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section-divider"></div>

    <section class="pricing-area">
        <div class="header">Quảng cáo</div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="pricing-box hover-highlight">
                        <h3 class="pricing-title">Advertisement</h3>
                        <div class="pricing-price">100,000 VNĐ<span>/tháng</span></div>
                        <ul class="pricing-list">
                            <li>
                                Hiển thị popup quảng cáo khi người dùng sử dụng 1 số chức năng (gợi ý thực đơn, tạo
                                shopping list)
                            </li>
                            <li>Banner quảng cáo phía bên phải homepage</li>
                        </ul>
                        <a href="#" class="pricing-btn text-uppercase">Mua</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Area Start Here -->
   
    <!-- Footer Area End Here -->
    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->
    <!-- JS
    ============================================ -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="~/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

</body>
