@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>CaloFit</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/icon.ico" />

    <!-- CSS
          ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="~/assets/css/vendor/font.awesome.min.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/assets/css/vendor/ionicons.min.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/slick.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css" />
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="~/assets/css/plugins/nice-select.min.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup.css" />

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <link rel="stylesheet" href="~/assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.min.css" />

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- <link rel="stylesheet" href="~/assets/css/style.min.css"> -->
</head>

<body class="api partners-page notlogged">
   
    <!-- Header Area End Here -->
    <!-- Header Area End Here -->
    <main>
        <h1 class="fw-bold lh-1 mt-5 mb-4 text-center page-title">Đối tác</h1>
        <div class="text-center title-line"></div>

        <div class="container col-xxl-8">
            <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <div class="bg-white d-flex align-items-center">
                                <div class="img d-flex align-items-center" style="width: 100%; text-align: center">
                                    <a href="/partners/suggestic" style="width: 100%">
                                        <img style="width: 100%; height: 35vh"
                                             src="https://naviworld.com.vn/wp-content/uploads/2019/10/vinmart.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="text-left p-3">
                                <h2 class="mb-3 lh-1">
                                    <span class="title pb-2">VinMart</span>
                                </h2>
                                <div>
                                    <span class="desc">
                                        VinMart, một trong những chuỗi bán lẻ lớn nhất tại Việt Nam, cung cấp một loạt sản phẩm chất lượng cao bao gồm thực phẩm tươi, tạp hoá, đồ dùng gia đình và điện tử. Với nhiều siêu thị và cửa hàng tiện lợi trên khắp đất nước, VinMart đảm bảo trải nghiệm mua sắm thuận tiện và vui vẻ trong một môi trường sạch sẽ và thân thiện, ưu tiên sự hài lòng và het lòng của khách hàng.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-green mb-4 px-4">Learn more</a>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <div class="bg-white d-flex align-items-center">
                                <div class="img d-flex align-items-center" style="width: 100%; background: #62a83d">
                                    <a href="/partners/personal-remedies" style="width: 100%">
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUfK7oWXLgmQommqQxrOFeJtsMulJJYiJpbA&s"
                                             style="width: 100%; height: 35vh" />
                                    </a>
                                </div>
                            </div>
                            <div class="text-left p-3">
                                <h2 class="mb-3 lh-1">
                                    <span class="title pb-2">Big C</span>
                                </h2>
                                <div>
                                    <span class="desc">
                                        Big C là một chuỗi siêu thị hàng đầu tại Việt Nam, nổi tiếng với việc cung cấp một loạt sản phẩm chất lượng cao với giá cả cạnh tranh. Với sự tập trung vào sự hài lòng của khách hàng, Big C cung cấp một trải nghiệm mua sắm tiện lợi, bao gồm thực phẩm, rau quả tươi sống, đồ dùng gia đình, điện tử, và nhiều hơn nữa. Ghé thăm Big C để có một giải pháp mua sắm tất cả trong một dưới một mái nhà.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-green mb-4 px-4">Learn more</a>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <div class="bg-white d-flex align-items-center">
                                <div class="img d-flex align-items-center" style="width: 100%; text-align: center">
                                    <a href="/partners/sifter" style="width: 100%">
                                        <img style="width: 100%; height: 35vh"
                                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD1Fmur8PxD0Jft4Gdw1jt0-Y1PW-8VUztjQ&s" />
                                    </a>
                                </div>
                            </div>
                            <div class="text-left p-3">
                                <h2 class="mb-3 lh-1">
                                    <span class="title pb-2">Lotte Mart</span>
                                </h2>
                                <div>
                                    <span class="desc">
                                        Lotte Mart là một chuỗi siêu thị nổi tiếng tại Việt Nam, nổi tiếng với dải sản phẩm chất lượng cao, bao gồm thực phẩm, sản phẩm tươi sống, đồ dùng gia đình và điện tử. Cam kết đến sự hài lòng của khách hàng, Lotte Mart cung cấp môi trường mua sắm hiện đại và tiện lợi, mang đến dịch vụ và giá trị xuất sắc cho mọi nhu cầu mua sắm của bạn.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-green mb-4 px-4">Learn more</a>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <div class="bg-white d-flex align-items-center">
                                <div class="img d-flex align-items-center" style="width: 100%; text-align: center">
                                    <a href="/partners/mealme" style="width: 100%">
                                        <img style="width: 100%; height: 35vh "
                                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI7E2oyFSLil0Ymc6wfPGBFLNFBR1K8vU9ImaLvnI_mZ1q-ifv-46NqeTIdCtYP0oeko0&usqp=CAU" />
                                    </a>
                                </div>
                            </div>
                            <div class="text-left p-3">
                                <h2 class="mb-3 lh-1">
                                    <span class="title pb-2">Circle K</span>
                                </h2>
                                <div>
                                    <span class="desc">
                                        Circle K là một chuỗi cửa hàng tiện lợi toàn cầu, nổi tiếng tại Việt Nam với dịch vụ 24/7 và đa dạng sản phẩm. Từ đồ ăn nhẹ, đồ uống đến hàng hóa hàng ngày, Circle K mang lại trải nghiệm mua sắm nhanh chóng và tiện lợi, đảm bảo bạn có những gì bạn cần, khi bạn cần. Với dịch vụ thân thiện và nhiều địa điểm, Circle K là điểm đến tiện lợi lý tưởng của bạn.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-green mb-4 px-4">Learn more</a>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <div class="bg-white d-flex align-items-center">
                                <div class="img d-flex align-items-center" style="width: 100%; text-align: center">
                                    <a href="/partners/sommify" style="width: 100%">
                                        <img style="width: 100%; height: 35vh"
                                             src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/7-eleven_logo.svg/1055px-7-eleven_logo.svg.png" />
                                    </a>
                                </div>
                            </div>
                            <div class="text-left p-3">
                                <h2 class="mb-3 lh-1">
                                    <span class="title pb-2">7-Eleven</span>

                                </h2>
                                <div>
                                    <span class="desc">
                                        7-Eleven là một chuỗi cửa hàng tiện lợi được công nhận trên toàn cầu, cung cấp một loạt các sản phẩm và dịch vụ đa dạng tại Việt Nam. Nổi tiếng với hoạt động 24/7, 7-Eleven cung cấp từ đồ ăn nhẹ và đồ uống đến thực phẩm tươi sống và thiết yếu gia đình. Với tập trung vào sự tiện lợi, chất lượng và dịch vụ thân thiện, 7-Eleven đảm bảo bạn có quyền truy cập nhanh chóng vào những gì bạn cần, bất kỳ lúc nào, ngày hoặc đêm.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-green mb-4 px-4">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
                

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="~/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="~/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="~/assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="~/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>

</html>